:root {
    --color-background: rgb(228, 226, 226);
    --color-details: rgb(48, 170, 251);
    --color-text: black;

    font-size: 100%; /* controle das medidas rem */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    display: block; /*display block == quebra a linha*/
    text-align: center;
    color: black;
}

/* body img {
    border-radius: 50%;
    border: 2px solid black;
} */

header {
    /* font: weight size family */
    font: 700 110% Poppins;
    background-color: whitesmoke;
    border-bottom: 2px solid black;
    display: block;
}

header {
    padding: 30px;
    width: 100vw;
    background-color: whitesmoke;
}

header div {
    text-align: center;
}

header div a {
    color: var(--color-text);
    text-decoration: none;
    margin: 0 20px;
}

header div a:hover {
    color: var(--color-details);
    transition: color 200ms;
}

#wrapper {
    font-family: Poppins;
    align-items: center;
    padding-top: 150px;
}

#wrapper img {
    border-radius: 50%;
    border: 4px solid black;
}

#wrapper h1 {
    padding-top: 20px;
    font-weight: solid;
}

#wrapper h2 {
    font-weight: normal;
}
#wrapper h3 {
    font-weight: normal;
    opacity: 0.8;
}