
.cards {
    text-align: center;
    max-width: 80rem;
    margin: 0 auto;

    margin-top: 5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.card_container {
    background-color: var(--color-text-white);
    border-radius: 2rem;
    cursor: pointer;
    padding-bottom: 1.2rem;
}

.card_container img {
    margin: 2rem 0;
    border-radius: 1rem;
    border: 2px solid black;
    width: 400px;
    height: 200px;
}

.card_container p {
    margin: 2rem;
    text-align: justify;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.close-modal {
    font-size: 2rem;
    color: red;
    background-color: transparent;
    position: absolute;
    right: -2rem;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

@media (max-width: 600px) {
    
    .cards {
        margin: 0 3rem;
        grid-template-columns: 1fr;
    }

    .modal {
        margin-top: 50%;
        position: relative;
    }

    .close-modal {
        right: 0;
    }

    iframe {
        width: 90%;
        height: 50%;
    }
}