<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <title>
        Portfolio
    </title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/pages/about-project.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap">

</head>
<body>
    <header>
        <div>
            <a href="/">Home</a>
            <a href="/digital_systems">Digital Systems</a>
        </div>
    </header>
    <div id="wrapper">
        <div class="position_text">
            <img src="/images/octocat.png" alt="Octocat">
            <h1>About Project</h1>
            <p>I had the idea of ​​this project to practice my English and created a space to store projects that I'll have at the University.<p>
        </div>
    </div>
</body>
</html>