<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <title>
        Portfolio
    </title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap">

</head>
<body>
    <header>
        <div>
            <a href="/about_project">About Project</a>
            <a href="/digital_systems">Digital Systems</a>
        </div>
    </header>
    <div id="wrapper">
        <img src="{{ home.avatar_img }}" alt="Img {{ home.name }}">
        <h1>{{ home.name }}</h1>
        <h2>{{ home.welcome }}</h2>
        <h3>{{ home.description }}</h3>
    </div>
    <div id="links_footer" class="links">
        {% for link in home.links %}
            <a href="{{ link.url }}" target="_blank">
                <i class="fa fa-{{link.name}}"></i>
            </a>
        {% endfor %}
    </div>
</body>
</html>