@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
    --color-blue-primary: rgb(75, 189, 255);
    --color-blue-primary-dark: rgb(0, 92, 145);
    --color-blue-primary-light: rgb(110, 209, 248);
    --color-details: rgb(48, 170, 251);
    --color-text-black: rgb(77, 74, 74);
    --color-text-white: whitesmoke;

    font-size: 100%; /* controle das medidas rem */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
}

body {
    display: block; /*display block == quebra a linha*/
    background-color: var(--color-blue-primary-light);
}

header {
    padding: 30px 0;
    width: 100vw;
    background-color: var(--color-text-white);
    font: 700 110% Poppins;
    border-bottom: 2px solid var(--color-text-black);
    display: block;
}

header div {
    align-items: center;
    text-align: center;
}

header div a {
    color: var(--color-text);
    text-decoration: none;
    margin: 0 20px;
}

header div a:hover {
    color: var(--color-blue-primary);
    transition: color 200ms;
}

#wrapper {
    text-align: center;
}

#wrapper img {
    margin-top: 15rem;
    width: 16rem;
    border-radius: 50%;
    border: 4px solid var(--color-text-black);
}

#wrapper h1 {
    padding-top: 40px;
    font-weight: 600px;
    margin-bottom: 1rem;
}

#wrapper h2 {
    font-weight: normal;
    margin-bottom: 10px;

}
#wrapper h3 {
    font-weight: normal;
    opacity: 0.8;
}

.links {
    text-align: center;
    margin-top: 1rem;
    width: 100%;
    font-size: 2rem;
}

.links a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.links a:hover {
    color: whitesmoke;
}

@media (max-width: 600px) {

    header div a {
        width: 100%;
        margin: 0 10px;
    }
}